body{
    background: url(res/arkaplan.png);
    background-size: cover;
    background-attachment: fixed;
}
header{
    padding: 1rem;
    margin: 1rem;
    background-color: hsl(240, 1%, 60%);
    padding-top: 1rem;
    background-position: center;
}
footer{
    padding: 1rem;
    margin: 1rem;
    background-color: hsl(240, 1%, 60%);
    padding-top: 1rem;
    background-position: center;
}
.container{
    text-align: center;
}
.card{
    background-color: #ffffffb9;
    margin: 1rem;
}
.product{
    background-color: #e4002b;
    position: absolute;
    color: #fff;
    margin: .5rem;
    padding: .5rem;
}
